In [52]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'From_To': ['LoNDon_paris','MAdrid_miLAN','londON_StockhOlm', 
'Budapest_PaRis', 'Brussels_londOn'],'FlightNumber': [10045, np.nan, 10065, np.nan, 10085], 
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]], 
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', 
'12. Air France', '"Swiss Air"']})

In [53]:
df

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"

In [54]:
df.dtypes

From_To          object
FlightNumber    float64
RecentDelays     object
Airline          object
dtype: object

In [55]:
df["FlightNumber"][1]=10055
df["FlightNumber"][3]=10075

<ipython-input-55-83dad323cee5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["FlightNumber"][1]=10055
<ipython-input-55-83dad323cee5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["FlightNumber"][3]=10075

In [56]:
df

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN       10055.0            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis       10075.0          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"

In [57]:
df=df.astype({"FlightNumber":int})

In [59]:
df

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris         10045      [23, 47]               KLM(!)
1      MAdrid_miLAN         10055            []    <Air France> (12)
2  londON_StockhOlm         10065  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis         10075          [13]       12. Air France
4   Brussels_londOn         10085      [67, 32]          "Swiss Air"

In [60]:
df[['Source','Destination']] = df.From_To.str.split("_",expand=True)

In [61]:
df

,From_To,FlightNumber,RecentDelays,Airline,Source,Destination
0,LoNDon_paris,10045,"[23, 47]",KLM(!),LoNDon,paris
1,MAdrid_miLAN,10055,[],<Air France> (12),MAdrid,miLAN
2,londON_StockhOlm,10065,"[24, 43, 87]",(British Airways. ),londON,StockhOlm
3,Budapest_PaRis,10075,[13],12. Air France,Budapest,PaRis
4,Brussels_londOn,10085,"[67, 32]","""Swiss Air""",Brussels,londOn

In [63]:
df["Source"]=df["Source"].str.capitalize()

In [64]:
df["Destination"]=df["Destination"].str.capitalize()

In [68]:
df.drop("From_To",axis=1,inplace=True)

In [69]:
df

   FlightNumber  RecentDelays              Airline    Source Destination
0         10045      [23, 47]               KLM(!)    London       Paris
1         10055            []    <Air France> (12)    Madrid       Milan
2         10065  [24, 43, 87]  (British Airways. )    London   Stockholm
3         10075          [13]       12. Air France  Budapest       Paris
4         10085      [67, 32]          "Swiss Air"  Brussels      London

In [81]:
output=[]
for i in df.RecentDelays:
    output.append(i)

In [82]:
output

[[23, 47], [], [24, 43, 87], [13], [67, 32]]

In [84]:
dict1={"delay1":23,"delay2":47,"delay3":"nan","delay4":24,"delay5":43,"delay6":87,"delay7":13,"delay8":67,"delay9":32}

In [88]:
x=pd.DataFrame(dict1,index=[0])

In [89]:
x

   delay1  delay2 delay3  delay4  delay5  delay6  delay7  delay8  delay9
0      23      47    nan      24      43      87      13      67      32

In [90]:
%pwd

'C:\\Users\\Admin\\Downloads\\LinearRegression-master (1)\\LinearRegression-master\\LinearRegressionTillCloud'